/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
	z-index: 1;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    padding: 60px 10px 60px 10px;
}

/* Modal Content/Box */
.modal-content {
	width: 420px;
	margin: 2% auto 15% auto;
    background-color: rgba(13, 13, 13, 0.8);
    border-radius: 10px;
	box-shadow: -1px 3px 5px 5px rgba(0, 0, 0, 0.3);
}

/* Full-width input fields */
.form-login {
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-login label {
	display:inline-block;
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 110px;
	font-family: Century, sans-serif;
}

.form-login input[type=text], input[type=password], input[type=email], input[type=date] {
    width: 240px;
	height: 30px;
	padding: 3px;
    margin: auto 10px 10px 15px;
    display: inline-block;
    border: 1px solid #ccc;
	border-radius: 5px;
    box-sizing: border-box;
	font-family: Century, sans-serif;
}

.select-db {
    display: inline-table;
    margin: auto 10px 10px 15px;
}

.select-db select {
    height: 30px;
    padding: 0px 6px;
    border-radius: 5px;
}

.container button {
    background-color: #910018;
    color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: Century, sans-serif;
    padding: 2px;
	display: block;
    margin: 30px auto 0px auto;
    border: none;
    cursor: pointer;
    width: 97%;
	height: 35px;
}

.container button:hover {
    background-color: #670011;
}


.imgcontainer {
    text-align: center;
    margin: 15px 0 12px 0;
    position: relative;
}

img.avatar {
	width: 120px;
	height: 120px;
	margin-top: 20px;
}

.container {
	padding: 10px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #FFF;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #910018;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
