body {
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-family: Century, sans-serif;
	color: gray;
	min-width: 100px;
	max-width: 100%;
}


/* ############################################################## */
/* ####################### rightMenu DIV ######################## */
/* ############################################################## */
#leftMenu {
	float: left;
    height: 48%;
    width: 20%;
    margin: 20px 2% auto 3%;
    background-color: rgba(0, 0, 0, 0.6);
	float: left;
}

.links a{
	margin: auto 5px auto 5px;
	text-decoration: none;
	color: #FFF;
}

div.menu a {
	text-decoration: none;
	color: #FFF;
}

div.menu a:hover {
	color: #910018;
}

div.menu a:active {
	color: black;
}

div.menu {
	font-size: 105%;
	color: white;
	width: 75%;
	height: 7%;
	margin: 20px 10% 0% 7%;
	border-radius: 1px;
}

ul {
	list-style-type: none;
}

div.menu li {
	margin: 5px auto;
}

div.dateCont {
	width: 90%;
	font-size: 80%;
	padding: 20% 5% 8% 5%;
	font-family: "Tahoma";
	color: rgb(130, 130, 130);
	background-color: rgba(10, 10, 10, 0.6);
}

/* ############################################################## */
/* ####################### Main DIV ############################# */
/* ############################################################## */
#bilete {
	min-width: 400px;
    width: 70%;
    margin: 30px 20% 30px 25%;
    background-color: rgba(0, 0, 0, 0.6);
	padding: 20px 0;
}


/* ####################### LISTA_BILETE ############################# */

/* Tipuri de bilete: pierzator(L) & castigator(W) & inAsteptare(U) */
div.biletL {
	position: relative;
	border: 1px solid #dd3535;
	border-radius: 4px;
	height: 45px;
	width: 92%;
	margin: 2.5% 2% 2% 4%;
	background-color: rgba(100, 0, 0, 0.1);
}

div.biletW {
	position: relative;
	border: 1px solid #21a52c;
	border-radius: 4px;
	height: 45px;
	width: 92%;
	margin: 2.5% 4% 2% 4%;
	background-color: rgba(0, 100, 0, 0.1);	
}

div.biletU {
	position: relative;
	border: 1px solid #c8c8c8;
	border-radius: 4px;
	height: 45px;
	width: 92%;
	margin: 2.5% 4% 2% 4%;
	background-color: rgba(200, 200, 200, 0.1);	
}

/* Informatii despre bilet: ID, Data, Cota, Tip */
div.biletID {
	position: absolute;
    top: 10%;
    left: 2%;
    width: 60%;
    height: 35%;
	color: #d6e5ff;
	font-size: 85%;
	font-family: "Courier New";
	/*border: 1px solid blue;*/
}

div.biletData {
	position: absolute;
    top: 60%;
    left: 2%;
    width: 20%;
    height: 30%;
	color: #949aa3;
	font-size: 70%;
	font-family: "Courier New";
	font-style: italic;	
	/*border: 1px solid blue;*/
}

div.biletCota {
	position: absolute;
	top: 30%;
	right: 5%;
	width: 10%;
	color: #d6e5ff;
	font-size: 90%;
	font-family: "Century";
	/*border: 1px solid white;*/
}

div.biletSuma {
	position: absolute;
	top: 30%;
	left: 45%;
	color: white;
	font-size: 85%;
	font-family: "Century";
	/*border: 1px solid white;*/
}

div.biletCastig {
	position: absolute;
	top: 30%;
	left: 60%;
	color: white;
	font-size: 85%;
	font-family: "Century";
	/*border: 1px solid white;*/
}

div.biletTipX {
	position: absolute;
	top: 14%;
	right: 5%;
	width: 3%;
	height: 45%;
	color: #dd3535;
	font-size: 150%;
	font-family: "Century";
	/*border: 1px solid blue;*/
}

div.biletTipO {
	position: absolute;
	top: 14%;
	right: 5%;
	width: 3%;
	height: 45%;
	color: #21a52c;
	font-size: 150%;
	font-family: "Century";
	/*border: 1px solid blue;*/
}

/* ####################### account ######################## */
#account {
	display: table;
	width: 70%;
  	margin: 30px auto 30px 0;
    background-color: rgba(0, 0, 0, 0.8);
    letter-spacing: 1px;
    font-size: 105%;
    font-family: "Century";
    color: #FFF;
}

div.showErr {
	font-size: 96%;
	font-style: italic;
	color: rgba(200, 0, 0, 0.8);
	margin: 15px auto 15px 20%;
}

div.accountName {
	width: 92%;
	height: 4%;
	font-size: 150%;
	padding: 5% 4% 5% 4%;
	font-weight: bold;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.05);
}

div.info1 {
	float: left;
	width: 40%;
	margin: 20px;
}

div.balance1 {
	padding: 2% 10% 1% 4%;
	text-align: left;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid white;
	border-radius: 2px;
}

div.winRate {
	color: white;
	padding: 2% 10% 1% 4%;
	font-family: "Century";
	text-align: left;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid white;
	border-radius: 2px;
}

div.totalBilete {
	color: white;
	padding: 2% 10% 1% 4%;
	text-align: left;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid white;
	border-radius: 2px;
}

div.info2 {
	margin: 20px;
	float: right;
	width: 37%;
	font-size: 150%;
	padding: 2% 4% 3% 4%;
	text-align: justify;
	font-size: 80%;
	font-family: "Times New Roman";
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid white;
	border-radius: 2px;
}

/* ###################### SETARI ########################### */
#setari {
	display: table;
    width: 70%;
    margin: 30px 20% 30px 25%;
    background-color: rgba(0, 0, 0, 0.6);
}

div.changeInfoText {
	width: 97%;
	font-size: 120%;
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 1% 1% 1% 2%;
	margin-top: 25px;
}

div.changeInfo {
	color:gray;
	width: 100%;
	margin-top: 15px;
	/*border: 1px solid red;
	border-radius: 2px;*/
}

div.changePasswordText {
	width: 97%;
	font-size: 120%;
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 1% 1% 1% 2%;
	margin-top: 70px;
}

div.changePassword {
	color:gray;
	width: 100%;
	margin-top: 15px;
	/*border: 1px solid red;
	border-radius: 2px;*/
	margin-top: 15px;
}

div.changeEmailText {
	width: 97%;
	font-size: 120%;
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 1% 1% 1% 2%;
	margin-top: 70px;
	/*border: 1px solid red;
	border-radius: 2px;*/
}
div.changeEmail {
	color: gray;
	width: 100%;
	margin-top: 15px;
	/*border: 1px solid red;
	border-radius: 2px;*/
}

div.centrare {
	display: block;
	margin: auto;
}

.content {
	display: inline-block;
    float: left;
    clear: left;
    width: 30%;
    margin-right: 10px;
    text-align: right;
}


/* ####################### Butoane si Field'uri ############################ */
input.field {
	display: block;
	width: 40%;
	height: 25px;
	border: 0;
	margin: auto auto 5px 5px;
	border-radius: 2.5px;
	background-color: #CCCCCC;
}
button.btn {
	display: block;
	width: 20%;
	height: 25px;
	margin: 25px auto;
	color: white;
	background-color: #910018;
	border: 0;
	font-family: 'Century';
	font-size: 90%;
}

button.btn:hover {
	background-color: #701119;
	cursor: pointer;
}

div.detalii_bilet {
	position: absolute;
	right: 0.5%;
	top: 25%;
	padding-top: 2px;
	width: 40px;
	height: 30px;
  	/*border: 1px solid #fff; */
 	text-align: center;
 	font-size: 180%;
}
.plus {
 	font-size: 1em;
  	padding: 5px auto;
  	color: rgba(0, 0, 0, 0.7);
  	text-decoration: none;
  	transition: all 0.2s ease-out;
}
.plus:hover {
  background: rgba(200, 200, 200, 0.3);
}

.ui-dialog.dialog_style .ui-widget-header{
	background: #FFFFFF;
    color: #000;
    font-weight: normal;
}

.ui-dialog.dialog_style .ui-widget-content {
    background: #FFFFFF;
    color: #000;
}

.ui-dialog.dialog_style .ui-widget-buttonpane {
	background: #333333;
    color: #000000;
}
