body {
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-family: Century, sans-serif;
	color: gray;
	min-width: 100px;
	max-width: 100%;
}

#leftMenu {
	display: table;
	float: left;
    width: 20%;
    margin: 25px 2% auto 2%;
	padding-bottom: 30px;
	background-color: rgba(0, 0, 0, 0.6);
	position: -webkit-sticky;
  	position: sticky;
  	top: 25px;
}

.menu a {
	text-decoration: none;
	color: white;
}

.menu a:hover {
	color: #910018;
}

.menu a:active {
	color: black;
}

.menu {
	font-size: 105%;
	color: white;
	width: 75%;
	height: 80%;
	margin: 15% 10% 0% 0;
	border-radius: 1px;
}

ul {
	list-style-type: none;
}

.menu li {
	margin: 5px auto;
}

#regulament {
	display: table;
    border-radius: 6px;
    width: 60%;
	margin: 30px auto 30px 25%;
    font-family: "Century";
    color: #FFF;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 1% 5% 5% 5%;
	text-align: justify;
}


#regulament p {
	text-indent: 25px;
}
