body {
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-family: Century, sans-serif;
	color: gray;
	min-width: 800px;
	max-width: 100%;
	position: relative;
}


#main {
	display: table;
	width: 900px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: rgba(0, 0, 0, 0.5);
}

#main p {
	text-indent: 50px;
	text-align: justify;
	color: #FFF;
	margin: 20px 0px;
}

.thumbnail {
	margin-top: 15px;
	margin-bottom: 15px;
	position: relative;
	z-index: 0;
}

.statistics {
	margin-top: 20px;
	margin-bottom: 20px;
}

.statistics h2 {
	text-align:center;
	color:white;
	padding: 8px;
}

.statistics table {
	border-collapse: collapse;
	width: 65%;
}

.statistics th, td {
	text-align: center;
	padding: 8px;
	color: #fff;
}

.statistics tr:nth-child(even){
	background-color: #670011;
}

.statistics th {
	background-color: #4CAF50;
	color: white;
}

/*----css pemtru id-urile primei imagini (Pariaza acum)----*/
#betting-img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	box-shadow: -1px 3px 20px 10px rgba(0, 0, 0, 0.99);
	border: 1px solid black;
	border-radius: 10px;
	position: relative;
}

#bet-now  {
	visibility: hidden;
	display: none;
	width: 846px;
	height: 56px;
	padding: 2px;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 100px;
	left: 25px;
}

#bet-now-text{
	margin:auto;
	display:table;
	color: #910018;
	font-size: 50px;
	font-weight: bold;
}

/*---------Style for Pariuri page-----------*/
#main-pariuri{
	display: table;
	float: left;
	width: 68%;
	margin-left: 7%;
	margin-top: 20px;
	margin-bottom: 30px;
	min-width: 900px;
	max-width: 900px;
	background-color: rgba(0, 0, 0, 0.5);
}

.show-bets-day {
	display: table;
    width: 60%;
	margin: 10px auto 15px auto;
}

.show-bets-day li  {
	width: 70%;
    margin: auto;
}
.show-bets-day li {
	list-style: none;
}

.show-bets-day a {
	text-decoration: none;
	float: left;
	margin-right: 15px;
	color: #FFF;
}

.show-bets-day a:hover {
	color: #910018;
}

.active a {
	color: #910018;
	font-weight: bold;
}



/*------Pariuri------*/

.bets {
	width: 93%;
	margin: 30px auto 30px auto;
}

.bet {
	display: table;
	width: 98%;
	padding: 5px;
	background-color: rgba(36, 36, 36, 0.9);
	color: white;
	border: 2px solid #000;
}

.bet a {
	text-decoration: none;
	float: left;
	margin: 0px 10px 0px 10px;
	color: #FFF;
}

.bet a:hover {
	color: #910018;
	letter-spacing: 1.5px;
}

.times {
	float: right;
}

.times span {
	margin-right: 10px;
}

.bet-details {
	width: 92%;
	margin: 10px auto 30px auto;
	color: #FFF;
}

.bet-race-bar {
	background-color: rgba(36, 36, 36, 0.9);
	color: #FFF;
	padding: 10px;
}
.bet-race-bar span {
	margin-left: 20px;
}

.bet-details-head {
	background-color: rgb(0,0,0);
}

.weather {
	font-size: 15px;
	text-align: right;
	float: right;
	margin-right: 5px;
}

.top {
	display: block;
	text-align: center;
	font-size: 16px;
}

.top-left {
	display: block;
	text-align: left;
	font-size: 16px;
}

.bottom {
	display: block;
	text-align: center;
	font-size: 12px;
}

.bottom-left {
	display: block;
	text-align: left;
	font-size: 12px;
}

.collumn1 {
	display: inline-table;
	width: 70px;
	margin-left: 10px;
}

.collumn2 {
	display: inline-table;
	width: 100px;
	margin-top: 10px;
	margin-left: 10px;
}

.collumn2 img {
	vertical-align: middle;
}

.collumn2 button {
	background-color: #333333;
	padding: 5px 8px 5px 8px;
	border: 0px;
	margin: -5px;
}

.collumn2 button:hover {
	background-color: #4C4C4C;
	cursor: pointer;
}

.collumn3 {
	display: inline-table;
	width: 300px;
	text-align: left;
	margin-left: 10px;
}

.bet-details-body {
	display: block;
	text-align: center;
	font-size: 16px;
}

.win-chance {
	display: block;
	margin: -5px auto;
	width: 38px;
	height: 18px;
	padding: 5px;
	background-color: rgba(64, 64, 64, 0.5);
}
.team {
	border: 2px solid #000;
}

.cota {
	color: #0AA333;
	font-weight: bold;
	font-size: 15px;
}


/*---------Verifica biletul-----*/

.check-ticket span {
	margin: 10px;
}

.check-ticket input {
	display: block;
	width: 80%;
	height: 20px;
	padding: 5px 10px 5px 10px;
	margin: 10px auto 5px auto;
	border: 0;
	border-radius: 2.5px;
	background-color: #CCCCCC;
}

.check-ticket button {
	display: block;
	width: 60%;
	height: 35px;
	margin: 15px auto;
	color: #FFF;
	background-color: #910018;
	border: 0;
	font: 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
}

.check-ticket button:hover {
	background-color: #670011;
	cursor: pointer;
}



/*----------Bilet-------*/
#races-on-ticket {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

#fixed-wrapper {
	display: table;
	float: right;
	width: 22%;
	right: 5px;
	margin: 20px 1%;
	max-width: 300px;
}
.fixed {
    position: fixed;
    top: 0;
}
.fixed-bottom {
	position: fixed;
	bottom:185px;
}

#fixed-wrapper p {
	text-align: center;
}
.check-ticket {
	padding: 6px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #FFF;
}

.bet-ticket {
	padding: 6px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #FFF;
	margin-top: 20px;
}

.race-on-ticket {
	display: table;
	width: 93%;
	padding: 10px;
	border-top: 1px solid #3D3D3D;
	border-bottom: 1px solid #3D3D3D;
}

.race-on-ticket-details {
	float: left;
}

.race-on-ticket-cota {
	float: right;
}

.cota-ticket {
	color: #CCCCCC;
}

.close-thik {
    color: #670011;
    font-size: 20px;
    font-weight: bold;
	margin-left: 10px;
	cursor: pointer;
}

.total {
	position: relative;
	margin: 10px 5px 10px 5px;
}


.ticket-form {
	margin: 10px 5px 10px 5px;

}


.ticket-form  input{
	float: right;
	width: 40px;
	padding: 7px 10px;
	margin: 0px;
	border: 0;
	border-radius: 2.5px;
	background-color: #CCCCCC;

}

.ticket-form button {
	display: block;
	width: 60%;
	height: 35px;
	margin: 30px auto 0px;
	color: #FFF;
	background-color: #910018;
	border: 0;
	font: 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
}

.ticket-form button:hover {
	background-color: #670011;
	cursor: pointer;
}

/*---------------Style pentru pagina Rezultate---------------*/
#main-results {
	display: table;
	width: 900px;
	margin: auto;
	margin-top: 35px;
	margin-bottom: 30px;
	background-color: rgba(0, 0, 0, 0.5);
	min-width: 800px;
}

.results-bar {
	display: table;
	width: 97.5%;
	padding: 10px 10px 3px;
	color: #FFF;
	background-color: rgba(36, 36, 36, 0.9);
}

.results-times {
	float:right;
}
.results-times a {
	text-decoration: none;
	color: #FFF;
	margin: 0px 5px;
}
.results-times a:hover {
	color: #910018;
}

.active-time {
	display: inline-table;
	width: 60px;
	height: 33px;
	padding-top: 3px;
	margin-top: -3px;
	margin-bottom: -10px;
	background-color: rgba(0, 0, 0, 0.9);
	box-shadow: -1px 3px 3px 3px rgba(0, 0, 0, 0.99);
	border-radius: 3px 3px 0px 0px;
}

.active-time a {
	display: block;
	text-align: center;
	margin: auto;
}

.active-time a:hover {
	color: #FFF;
}

.results-head {
	width: 100%;
	display: table;
	padding: 5px 0;
	background-color: rgb(0,0,0);
}

.results-body {
	display: table;
	font-size: 14px;
}

.results-team {
	display: table;
	width: 100%;
	border: 2px solid #000;
}

.dim50 {
	display: inline-table;
	float: left;
	width: 50px;
	margin: 5px 10px;
}

.dim100 {
	display: inline-table;
	float: left;
	width: 100px;
	margin: 5px 10px;
}

.dim200 {
	display: inline-table;
	float: left;
	width: 200px;
	margin: 5px 10px;
}

.dim50 span, .dim100 span {
	display: block;
	text-align: center;
	margin: auto;
}



/*---------Style for Search Bar---------*/
.search-bar {
	width: 60%;
	display: block;
	margin: 25px auto 100px;
}

.search-bar input {
	float: left;
	width: 87%;
	height: 30px;
	padding: 5px 10px;
	border: 0;
	font: 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
	background-color: rgb(256, 256, 256);
	box-shadow: -1px 3px 3px 3px rgba(0, 0, 0, 0.99);
}

.search-bar button {
	display: inline;
	width: 50px;
	height: 35px;
	margin: auto;
	color: #FFF;
	border: 0;
	background-color: rgba(0,0,0,0.1);
	margin-top: 3px;
	margin-bottom: -2px;
	font: 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
}

.search-img {
	width: 50px;
	float: right;
	background-color: #FFF;
	cursor: pointer;
	box-shadow: 5px 3px 3px 3px rgba(0, 0, 0, 0.99);
}

.search-img button {
	background-color: rgba(0,0,0,0.1);
	margin-top: 3px;
	margin-bottom: -2px;
}

.search-img button img {
	display: block;
	margin: auto;
	height: 26px;
}

.win-red {
	width: 10px;
	height: 10px;
	display: block;
	vertical-align: middle;
	margin: auto;
	border-radius: 50px;
	background-color: red;
}

.win-green {
	width: 10px;
	height: 10px;
	display: block;
	vertical-align: middle;
	margin: auto;
	border-radius: 50px;
	background-color: green;
}

.win-orange {
	width: 10px;
	height: 10px;
	display: block;
	vertical-align: middle;
	margin: auto;
	border-radius: 50px;
	background-color: orange;
}

/*---------Style for Register Page---------*/
.box {
	display: table;
	margin: auto;
	padding: 30px 10px;
	width: 95%;
	border-top: 1px solid gray;
}

#main h2{
	margin-left: 10%;
	margin-bottom: 30px;
	font-size: 25px;
	/*color: #910018;*/
}
.info-box-left {
	display: inline-table;
	float: left;
	color: #910018;
	font-size: 15px;
	font-weight: bold;
	width: 17%;
}

.info-box-right {
	display: inline-table;
	float: right;
	width: 82%;
}

.info-box-right span {
	color: #FFF;
}

.line-input {
	display: table-row;
	width: 99%;
}

.form-register {
	margin: 10px 10px 10px;
}

.form-register label {
	display: block;
	margin-left: 18px;
	margin-bottom: 10px;
}

.form-register input[type=text], input[type=password], input[type=email], input[type=date] {
	display: block;
	width: 240px;
	height: 30px;
	padding: 3px;
    margin: auto 10px 10px 15px;
    display: inline-block;
    border: 1px solid #ccc;
	border-radius: 5px;
    box-sizing: border-box;
	font-family: Century, sans-serif;
}

.left-form {
	display: inline-table;
	float: left;
	padding-top: 15px;
	width: 47%;
	/*border: 1px solid white;*/
}

.right-form {
	display: inline-table;
	float: right;
	padding-top: 15px;
	margin-right: 25px;
	width: 47%;
	/*border: 1px solid white;*/
}

.terms-box {
	margin: 20px 20px 0px;
}

.terms-box a {
	text-decoration: none;
}

.button-register button {
	display: block;
	width: 30%;
	height: 35px;
	margin:20px auto;
	color: #FFF;
	background-color: #910018;
	border: 0;
	font: 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
}

.button-register button:hover {
	background-color: #670011;
	cursor: pointer;
}

#reg-err1 {
	margin-top: 20px;
	color: #CE000B;
}

#reg-err2 {
	margin-top: 20px;
	margin-left: 30px;
	color: #CE000B;
}

#reg-err-submit {
	margin-top: 20px;
	margin-left: 30px;
	color: #CE000B;
}
