.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}


.graph {
  height: 600px;
  width: 800px;
}

.graph .grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.labels {
  font-size: 13px;
  fill: #4caf50;
}

.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  fill: white;
}

.data {
  fill: red;
  stroke-width: 1; 
}

.messagebox {
position:fixed;
background-color:#000000;
color:#ffffff;
border:3px solid #ffffff;
font-family:'Voltaire', sans-serif;
font-size:24px;
width:180px;
border-radius:15px;
z-index:1;
padding:10px;
}

    .box{
        border: 1px solid #aaa; /*getting border*/
        border-radius: 4px; /*rounded border*/
        color: #000; /*text color*/
    }