/* INTREG BODY-UL */

body {
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-family: Century, sans-serif;
	color: gray;
	min-width: 800px;
	max-width: 100%;
	position: relative;
	padding-bottom:60px;
	margin:0;
	padding:0;
	height:100%;
}

#body {
   	padding:10px;
   	padding-bottom:60px;   /* Height of the footer */
}

#container {
   	min-height:100%;
   	position:relative;
	height:100%;
}




/* PAGINA PENTRU GENERARE PARIURI */

.printing {
	text-align: center;
	color: #ffffff;
	font-family: Century, sans-serif;
	font-size: 18px;
}

.generare {
	text-align: center;
	color: #ffffff;
}

.generare input[type="submit"] {
	background: #910018;
	color: #ffffff;
	border: none;
	padding: 7px 17px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
 }